<html>
  <head>
    <title>Twitch Login</title>
  </head>
  <body>
  <div>
  Login to continue:</div>
  </br>
  <div> <a href="/auth/twitch"><img style="width:120px; height 30px;" src="https://www.back2gaming.com/wp-content/uploads/2014/08/twitch-logo1-770x433.jpg"></a>
</div>
</body>
<style>
  body {
    color: white;
  background-color: #303A41;
  }
</style>
  </html>
