<!DOCTYPE html>
<html>
  <head>
    <title>Twitch Overlay</title>
    <link type="text/css" href="/css/overlay.css" rel='stylesheet'>
  </head>
  <body>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/js/overlay.js"></script>
  </body>
</html>
